//fonts
@import url('https://fonts.googleapis.com/css?family=Overpass:100,200,300,400,600,900');
//libs
@import '../../node_modules/normalize-scss/sass/normalize';

* {
  font-family: 'Overpass', sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: rgb(65, 105, 225);
  &:focus {
      outline: 2px solid linear-gradient(rgba(65, 105, 225, 1) 20%, rgba(65, 105, 225, 0.1) 80%);
  }
}
