@import '../styles/mixins/mixins.scss';
@import '../styles/main.scss';

.button {
  border: 1px solid royalblue;
  padding: 1rem 2rem;
  &:hover, &:hover a {
    border-color: goldenrod;
    color: goldenrod;
  }

  a {
    text-transform: uppercase;
    color: royalblue;
  }
}
