@import '../styles/mixins/mixins.scss';

.house {
  width: 16rem;
  height: 13rem;
  padding: 2rem 3rem;
  margin: 2rem auto;
  border: 1px solid rgba(218, 165, 32, 0.7);
  @include flexbox();
  @include flex-direction(column);
  @include align-items(center);
  @include justify-content(space-between);
}
