@import '../styles/mixins/mixins.scss';

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999999999;
    padding-right: 4rem;
    @include flexbox();
    @include justify-content(flex-end);
    &__link {
        margin: 2rem;
        &.active {
            color: red;
        }
    }
}